# Keil MDK 构建产物
*.o
*.crf
*.d
*.axf
*.lnp
*.sct
*.dep
*.iex
*.htm
*.build_log.htm
Listings/

# Keil 用户界面状态（因用户而异）
*.uvguix.*
*.uvguix
*.uvoptx
*.uvoptx.bak

# 备份文件
*.bak
*~RF*.TMP

# 日志文件
*.log
JLinkLog.txt
flash_log.txt
keil-assistant.log
uv4.log
uv4.log.lock

# IDE 临时文件
.vscode/uv4.log
.vscode/uv4.log.lock
